#body-proper
{
    font-size: 18px;

}

#body-wrapper
{
    padding-top: 0px;
}

.research-image
{
    width: 100%;
    padding-top: 70px;
}

.row
{
    padding-top: 30px;
}

p
{
    padding-bottom: 12px;
}

/*.diagram
{
    margin-top: 50px;
    margin-bottom: 75px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.diagram-image
{
    width: 100%;
}
.diagram p
{
    font-size: 16px;
    height: 100%;
}


.section
{
    padding-top: 100px;
}*/

