body
{
    font-family: Helvetica, Ariel, sans-serif;
    text-align:center;
    max-width: 1800px;
    margin: auto;
    color: #58595B;;
}

h1
{
    margin-bottom: 40px;
}


.navbar-brand
{
    font-family: Helvetica, Ariel, sans-serif;
    font-weight: lighter;
    display: block;
    font-size: 32px;
}

.titlecolor
{
    color: #58595B;
}

hr
{
    border-style: solid;
    border-color: #58595B;
}

#body-wrapper
{

    text-align:left;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 600px;
}
.navbar-default 
{
     background: 0; 
     border: none; 
}

.navbar-brand
{
    padding-bottom: 50px;
}
/*
#navigation
{
    list-style: none;
    padding-left:0px;
    font-size:22px;
    font-weight: lighter;
    line-height:1.5;
}
*/
.navbar-nav>li
{
    float: none;
    font-size: 22px;
    font-weight: lighter;
}
.navbar-nav>li>a
{
    padding-left: 0px;
}
#footer
{
    text-align:center;
    color: #58595B;
    margin-top:50px;
    margin-left: 0px;
    margin-right: 0px;
}

.home-image
{

    width: 100%;
}

@media (max-width: 1200px)
{
    .navbar-brand
    {
        font-size: 28px;
    }
}


@media (max-width: 991px)
{
    #body-wrapper
    {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-nav
    {
        float: right;
    }
    .navbar-nav>li
    {
        float: left;
        margin-right: 15px;
        font-size: 19px;
    }
    .navbar-brand
    {
        padding-bottom: 15px;
    }
    #sidebar
    {
        margin-bottom: 40px;
    }

}

@media (max-width: 767px)
{
    .navbar-nav
    {
        float: left;
    }
    .navbar-nav>li
    {
        float: none;
    }
}