h1
{
    margin-bottom: 40px;
}

#body-proper
{
    font-size: 18px;
}

.diagram
{
    margin-top: 50px;
    margin-bottom: 75px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.diagram-image
{
    width: 100%;
}
.diagram p
{
    font-size: 16px;
}